[Unit]
Description=Artifactory in a Docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a artifactory-container
ExecStop=/usr/bin/docker stop -t 2 artifactory-container

[Install]
WantedBy=default.target
