[Unit]
Description=Docker registry in a Docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a registry-container
ExecStop=/usr/bin/docker stop -t 2 registry-container

[Install]
WantedBy=default.target
